extends layout

block content
  h1 Expense Tracker
  p.lead As a consumer, in order to better understand my spending patterns I want to input my expenses in a tracking system which can generate reports.
  hr
  .row
    .col-sm-6
      h2 Regular Users
      p Can login, logout, generate reports, CRUD their own expenses. Demo User: tejaskumthekar26@gmail.com Password: abc123
    .col-sm-6
      h2 Admin
      p Can also Retrieve other users expenses. Demo User: tejakumt@indiana.edu Password: abc123
    .col-sm-6
      h2 Expense
      p CRUD for expenses
      p
        a.btn.btn-default(href='/expenses', role='button') View details »
    .col-sm-6
      h2 Report
      p Generate your expense report. Now with Filters!!!
      p
        a.btn.btn-default(href='/report', role='button') View details »