extends ../layout

block content
  .page-header
    h3 #{title}
  form.form-horizontal(id='add-expense-form', method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group
      label.col-sm-3.control-label(for='amount') Amount
      .col-sm-7
        input.form-control(type='number', step='0.01', name='amount', id='amount', placeholder='Amount', autofocus, required)
    .form-group
      label.col-sm-3.control-label(for='description') Description
      .col-sm-7
        input.form-control(type='text', name='description', id='description', placeholder='Reason for expense..', required)
    .form-group
      label.col-sm-3.control-label(for='createdAt') Date
      .col-sm-7
        input.form-control(type='date', name='createdAt', id='createdAt', required)
    .form-group
      .col-sm-offset-3.col-sm-7
        button.btn.btn-success(type='submit') Add
